@import url(../../fonts/fonst.css);

body {
    background-color: #EDEEF0;
    font-family: roboto, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}